:root {
    --primary-bg: #121212; /* Soft Black */
    --secondary-bg: #1A1A1A; /* Very Dark Gray */
    --primary-accent: #1E6091; /* Royal Blue */
    --secondary-accent: #71C7EC; /* Sky Blue */
    --text-primary: #E0E1DD; /* Light Grayish White */
    --text-secondary: #A4A6A9; /* Muted Gray */
    --highlight: #FFB703; /* Golden Yellow */
}

html {
    scroll-behavior: smooth;
}

/* General Body */
body {
    color: var(--text-primary);
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
.navbar {
    background-color: var(--primary-accent);
}

/* Main Section */
#mainpage {
    background-color: var(--primary-bg);
}
.line1 {
    color: var(--primary-accent);
    
}
.line2 {
    color: var(--text-primary);
    font-weight: 300;
}
.line3 {
    color: var(--highlight);
    font-weight: 500;
}
.line4 {
    color: var(--text-secondary);
}
/* About Section */
#about {
    background-color: var(--text-primary);
    color: var(--primary-accent);
}
p.custom-bullet-one::before {
    content: '\f0c8';  /* Icon: FontAwesome's 'check-circle' */
    font-family: 'Font Awesome 5 Free';  /* FontAwesome class */
    font-weight: 900;
    margin-right: 10px;
    color: var(--highlight);  /* Color for the icon */
}
p.custom-bullet-two::before {
    content: '\f05a';  /* Icon: FontAwesome's 'coffee' */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: 10px;
    color: var(--highlight);  /* Tomato color for the icon */
}
p.custom-bullet-three::before {
    content: '\f0c0';  /* Icon: FontAwesome's 'users' */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: 10px;
    color: var(--highlight);  /* Green for the icon */
}
p.custom-bullet-four::before {
    content: '\f0f3';  /* Icon: FontAwesome's 'lightbulb' */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: 10px;
    color: var(--highlight);  /* Yellow for the icon */
}

/* Projects Section */
#projects {
    background-color: var(--highlight);
    color: var(--primary-bg);
}
/* Contact Section */
#contact {
    background-color: var(--secondary-bg);
}
